<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>645224920182-t36q1s57es4sgp9nvehn4bcvcmm5q8fa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645224920182-t36q1s57es4sgp9nvehn4bcvcmm5q8fa</string>
	<key>API_KEY</key>
	<string>AIzaSyAB34M6jmiotUEUsPk6aV_WNpc2hZEGr2I</string>
	<key>GCM_SENDER_ID</key>
	<string>645224920182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hackdavis2020.Tend</string>
	<key>PROJECT_ID</key>
	<string>tend-53e9e</string>
	<key>STORAGE_BUCKET</key>
	<string>tend-53e9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645224920182:ios:182261c4a547dd9c601b57</string>
	<key>DATABASE_URL</key>
	<string>https://tend-53e9e.firebaseio.com</string>
</dict>
</plist>